# interactive shell
jupyter
ipykernel
ipywidgets

# style checker
wemake-python-styleguide

# deep learning
torch
torch_geometric

# machine learning
scikit-learn
imblearn
pandas
numpy
xgboost
shap
skops
catboost
optuna
statsmodels
bioread
imblearn
peft
datasets
ml-collections

# natural language processing
nltk

# hugging face
datasets
soundfile
transformers

# imaging
nilearn
pydicom
scikit-image

# fairness
fairlearn

# data visualization
seaborn
matplotlib
plotly
dash

# utilities
tomli
tomli_w